.text

  %h2= @command.sha

  - keys = (@command.keys || [])

  %h1.command
    %span.name= @command.name
    - if @command.num_keys
      = "[#{@command.num_keys.to_i}]"

  
  %article
    %aside
      - if (@related_commands || []).length > 1
        %h2
          #{@command.name} commands

        %ul
          - @related_commands.each do |command|
            %li
              %a(href="/scripts/#{command.sha}")
                - if command.sha == @command.sha
                  %strong= command.sha[0,8]+'...'
                  (This version)
                - else
                  = command.sha[0,8]+'...'
                  (#{command.updated_at})

    =  @markdown.render(@command.description)

    - if @command.example.to_s.length > 3
      %h3#example Example
      %pre.console
        = preserve do
          = @command.example

    %h2#source.source
      Source
      %small
        %a(href="/raw/#{@command.sha}") raw
    %pre
      %code
        = preserve do
          &= @command.script

  #comments.text
    #disqus_thread

    :javascript
      var disqus_shortname = 'evalsha-com'; // required: replace example with your forum shortname

      var disqus_identifier = '/script/#{@command.sha}';
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
        
